// Mixins Here

// Building Colors:
.bkbl() {
    background-color: blue;
}
.bkgrn() {
    background-color: green;
}
.bkrd() {
    background-color: red;
}
.bkyllw() {
    background-color: yellow;
}

//Flexbox:
.flex(@flex-direction, @justify-content, @align-items){
    display: flex;
    flex-direction: @flex-direction;
    justify-content: @justify-content;
    align-items: @align-items;
}

//Buttons:
    .btn(@porcelain, @btn-bg-color){
        color: @porcelain;
        background-color: @btn-bg-color;
        font-size: 1.8rem;
        padding: 2% 5%;
        margin: .5% .5%;
        width: 30%;
        border-radius: 5px;
        min-width: 90px;
        min-height: 30px;
    }