// Navigation code here

.nav-container {
    // .bkbl();
    .flex (column, space-evenly, center);
    background-color: lighten(lightgray, 13%);


    h1 {
        // .bkrd();
        font-size: 4rem;
        margin: 2%;
    }

    // .navbar {
    //     // .bkgrn();
    //     width: 60%;
    //     .flex(row, space-evenly, center);

    //     a {
    //         margin: 2% 5%;
    //         text-decoration: none;
    //         font-size: 1.4rem;
    //         color: gray;
    //     }
    // }

}